<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Colors Finder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Image Colour Palette Generator</h1>
        <p>
            Upload an image, and this site will tell you the top 10 most used colors along with their hex codes.
            If two colors appear the same number of times, both will be shown here.
        </p>
    </header>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input name="file" type="file" required />
        <br>
        <h3>Select a Colour Code:</h3>
        <div class="radio-inputs">
            <label class="radio">
                <input type="radio" name="colour_code" checked value="rgb">
                <span class="name">RGB</span>
            </label>
            <label class="radio">
                <input type="radio" name="colour_code" value="hex">
                <span class="name">HEX</span>
            </label>
        </div>
        <div>
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
    <main>
        {% for i in range(colors_list|length) %}
            <div class="pair">
                {% if code != 'hex' %}
                    <div class="color-box" style = " width: 100px; height: 100px;background-color: rgb{{ colors_list[i] }};"></div>
                    <div class="color-box-value"> {{i+1}}:  rgb{{ colors_list[i] }}</div>
                {% else %}
                    <div class="color-box" style = "width: 100px; height: 100px;background-color: #{{ colors_list[i] }};"></div>
                    <div class="color-box-value"> {{i+1}}:   #{{ colors_list[i] }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </main>
</body>
</html>
